@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

[x-cloak] {
  display: none !important;
}


@layer base {
  html {
    font-family: "Afacad Flux", system-ui, sans-serif;
  }
}