package templates

templ Home() {
	<div class="m-auto text-center">
		<h1 class="text-8xl font-bold mb-4">
			Anketovac
		</h1>
		<h3 class="text-5xl font-light text-info mb-4">
			Vytvorte si ankety zadarmo!
		</h3>
		<a role="button" href="/create" class="btn h-32 w-64 text-5xl btn-outline btn-neutral">Vytvorit anketu</a>
	</div>
}
